<!DOCTYPE html>
<html>
    <head>
        <title>Vehicles Tracker</title>
        <script src="https://unpkg.com/htmx.org@1.9.7"></script>
        <link rel="stylesheet" type="text/css" href="./dist/output.css">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <script src="https://kit.fontawesome.com/b65befb79e.js"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="./dist/font.css">
        <link rel="icon" href="dist/icon.svg" type="image/svg+xml">
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    </head>
    <body class="bg-blue-50 min-h-screen flex flex-col">
        <header></header>
        <main class="flex min-w-max flex-1">
            <div
                class="w-1/3 flex flex-col items-center min-w-max max-h-screen overflow-y-auto scrollbar-none">
                <table id="cars" class="table-auto w-full">
                    <thead class="bg-blue-500 border-b-white sticky top-0">
                        <tr>
                            <th
                                class="py-1 px-0 flex justify-between items-center text-left text-white">
                                <p class="pl-6">Car</p>
                                <div>
                                    <button id="add-car-dialog-button"
                                        class="h-full py-2 bg-blue-600 px-7 flex items-center hover:bg-blue-800 mr-1">
                                        <i class="fas fa-plus mx-1"></i>
                                        <!-- Assuming you're using Font Awesome -->
                                        <p>Add</p>
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Vehicles}}
                        <tr
                            class="car-item
                                odd:bg-blue-50 even:bg-slate-200 hover:bg-blue-200">
                            <td
                                class="pl-6 pr-2 py-3 flex justify-between items-center border-r-2"
                                hx-get="/api/vehicles/{{.ID}}"
                                hx-target="#vehicle-records">
                                <div class="flex">
                                    <p class="mr-1">{{.Make}}</p>
                                    <p class="mr-1">{{.Model}}</p>
                                    <p>{{.Year}}</p>
                                </div>
                                <div class="flex-col flex items-end">
                                    <div class="flex items-center">
                                        <p>{{.CurrentFuel}}</p>
                                        <i
                                            class="fa-solid fa-gas-pump ml-0.5"
                                            style="color: #166bfe;"></i>
                                    </div>
                                    <div class="flex items-center">
                                        <p>{{.CurrentOdometer}}</p>
                                        <i class="fa fa-tachometer ml-0.5"
                                            aria-hidden="true"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div id="vehicle-records" class="w-2/3 flex flex-col min-w-max">
                <!-- Use flex-col to create a vertical flex container -->
                <div class="flex w-full"> <!-- Horizontal flex container -->
                    <table id="fuel-records"
                        class="table-auto w-1/2 min-w-max">
                        <thead class="bg-blue-500">
                            <tr>
                                <th
                                    class="px-6 py-1 flex justify-between items-center  text-left text-white">
                                    <p>Fuel Gauge Records</p>
                                    <div>
                                        <button hx-get="/form/create-fuel"
                                            hx-target="#dialog-form"
                                            id="add-fuel-dialog-button"
                                            class="h-full py-2 bg-blue-600 px-7 flex items-center hover:bg-blue-800 mr-1">
                                            <i class="fas fa-plus mx-1"></i>
                                            <!-- Assuming you're using Font Awesome -->
                                            <p>Add</p>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                        </tbody>
                    </table>
                    <table id="odometer-records "
                        class="table-auto w-1/2 min-w-max">
                        <thead class="bg-blue-500">
                            <tr>
                                <th
                                    hx-get="/form/create-odometer"
                                    hx-target="#dialog-form"
                                    class="px-6 py-1 text-left flex justify-between items-center text-white min-w-max">
                                    <p>Odometer Records</p>
                                    <button id="add-fuel-dialog-button"
                                        class="h-full py-2 bg-blue-600 px-7 flex items-center hover:bg-blue-800 mr-1">
                                        <i class="fas fa-plus mx-1"></i>
                                        <!-- Assuming you're using Font Awesome -->
                                        <p>Add</p>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                        </tbody>
                    </table>
                </div>
                <p id="select-car-text"
                    class="absolute top-1/2 left-2/3 transform -translate-x-1/2 -translate-y-1/2 text-gray-400">Select
                    a car to display information</p>
            </div>
        </main>
        <div id="dialog-form"></div>
        <div id="dialog"
            class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-8 border border-gray-300 rounded shadow-lg z-50 hidden opacity-0 transition-opacity duration-300">
            <form hx-swap="afterbegin" hx-target="#cars" hx-post="/api/vehicles"
                id="car-creation-form">
                <div class="flex flex-wrap -mx-4">
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Make (String) - Required -->
                        <label for="make" class="block">Make:</label>
                        <input type="text" id="make" name="make" required
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Model (String) - Required -->
                        <label for="model" class="block">Model:</label>
                        <input type="text" id="model" name="model" required
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Year (Integer) - Required -->
                        <label for="year" class="block">Year:</label>
                        <input type="number" id="year" name="year" required
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Current Fuel (Float) - Optional -->
                        <label for="current_fuel" class="block">Current Fuel:</label>
                        <input type="number" id="current-fuel"
                            name="current_fuel" step="0.01"
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Fuel Record Date (Date) - Optional -->
                        <label for="fuel-record_date" class="block">Fuel Record
                            Date:</label>
                        <input type="datetime-local" id="fuel_record_date"
                            name="fuel_record_date"
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                </div>

                <div class="flex flex-wrap -mx-4">
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Current Odometer (Float) - Optional -->
                        <label for="current_odometer" class="block">Current
                            Odometer:</label>
                        <input type="number" id="current-odometer"
                            name="current_odometer" step="0.01"
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                    <div class="w-1/3 px-4 mb-4">
                        <!-- Odometer Record Date (Date) - Optional -->
                        <label for="odometer_record_date" class="block">Odometer
                            Record Date:</label>
                        <input type="datetime-local" id="odometer_record_date"
                            name="odometer_record_date"
                            class="w-full p-2 border border-gray-300 rounded">
                    </div>
                </div>

                <button
                    class="mt-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 hover:text-white">Create
                    Car</button>
            </form>

            <button id="close-dialog-button"
                class="mt-4 px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 hover:text-white">Close</button>
        </div>

        <script>
            const cars = document.getElementsByClassName('car-item');
            const selectCarText = document.getElementById('select-car-text');
                for (let carItem of cars) {
                    carItem.addEventListener('click', () => {
                    selectCarText.hidden = true;
                        // Remove 'ring-2' from all car-items
                    for (let item of cars) {
                        item.classList.add('odd:bg-blue-50', "even:bg-slate-200", "hover:bg-blue-200");
                        item.classList.remove('bg-blue-300');
    
                    }
                    // Add 'ring-2' to the clicked car-item
                    carItem.classList.add('bg-blue-300');
                    carItem.classList.remove('odd:bg-blue-50', "even:bg-slate-200", "hover:bg-blue-200");
                    
                });
            }
            // Add a click event listener to open the dialog
            const openDialogButton = document.getElementById('add-car-dialog-button');
            const dialog = document.getElementById('dialog');
            const closeDialogButton = document.getElementById('close-dialog-button');

            openDialogButton.addEventListener('click', () => {
                dialog.classList.remove('hidden');
                setTimeout(() => {
                    dialog.classList.remove('opacity-0');
                    document.body.classList.add('overflow-hidden'); // This blocks scrolling
                }, 10); // Wait for the dialog to be unhidden before fading it in
            });

            closeDialogButton.addEventListener('click', () => {
                dialog.classList.add('opacity-0');
                document.body.classList.remove('overflow-hidden'); // Enable scrolling
                setTimeout(() => {
                    dialog.classList.add('hidden');
                    dialog.classList.add('opacity-0'); // Reset opacity for next display
                }, 300); // Wait for the opacity transition to complete
            });
    </script>
    </body>
</html>